html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
}
.item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.item > .label {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}
.item > .input{
    position: relative;
    border: 1px solid #eee;
    padding: 10px 10px 10px 35px;
    background-color: #ffffff;
}
.input > .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.input > input{
    border: none;
    outline: none;
}
html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a {
text-decoration: none;
}
img {
display: block;
max-width: 100%;
}